body {
    background-image: url(certibg.png);
    background-size: cover;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-size: 1rem; */
    color: rgb(3, 3, 3);
}

.legend {
    color: rgb(10, 9, 9);
    font-size: 2rem;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.certidiv1 {
    background-color: rgba(141, 128, 128, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    display: inline-block;
    /* width: 80%; */
    height: 400px;
    /* margin-top: 100px; */
    margin-bottom: 600px;
    padding: 100px;
    border-radius: 10% 30%;
}

table {
    padding: 20px;
    border: 1px solid black;
    background-color: rgba(58, 51, 51, 0.5);
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* #div2{
    /* background-color: rgba(127, 255, 212,0.75); 
    font-size: 1.5rem;
} */

.caption h2 {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    background-color: rgba(40, 46, 38, 0.5);
    /* text-decoration: wavy; */
}

.footerdiv a {
    background-color: rgba(79, 60, 60, 0.80);
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blanchedalmond;
    text-decoration: none;
}

.footerdiv a:hover {
    color: rgb(161, 139, 139);
    font-weight: 800;
}