.headerdiv {
    background-color: rgba(37, 34, 34, 0.65);
    color: aliceblue;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;

}

.headerdiv a {
    text-decoration: none;
    color: rgb(209, 209, 164);
}

.headerdiv a:hover {
    color: rgb(29, 24, 25);
    font-weight: 800;


    /* background-color: rgb(100, 79, 120); */
    /* box-shadow: 0 0 20px #0ef; */
}


body {
    background-image: url(bg3.jpg);
    background-size: cover;
    /* text-decoration: none; */



}

.bodydiv {
    margin-top: 100px;
    background-color: brown;
    height: 300px;
    width: 300px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 600px;
}

.bodydiv h3 {
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 1rem;
    /* animation: alternate-reverse; */
    /* animation: duration timing-function delay iteration-count direction fill-mode; */
}

.bodydiv h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 3rem;
}

.footerdiv a {
    background-color: rgba(79, 75, 75, 0.65);
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blanchedalmond;
    text-decoration: none;
}

.footerdiv a:hover {
    color: rgb(11, 10, 10);
    font-weight: 800;
}